@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Macondo', cursive;
    background-color: #a04ef6;
    color: #e7d045;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

div {
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: #a04ef6;
    color: #e7d045;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}